[Desktop Entry]
Type=Application
Name=konCePCja
GenericName=Amstrad CPC Emulator
GenericName[pl]=Emulator Amstrada CPC
GenericName[fr]=Émulateur Amstrad CPC
GenericName[es]=Emulador de Amstrad CPC
Comment=Amstrad CPC / CPC+ emulator with a debugger and an IPC control port
Comment[pl]=Emulator Amstrada CPC / CPC+ z debuggerem i portem sterującym IPC
Icon=koncepcja
Exec=koncepcja %f
Terminal=false
Categories=Game;Emulator;
MimeType=application/x-cpc-disk-image;application/x-cpc-tape-image;
