/obj
/koncepcja
/printer.dat
/wGui.log
/tags
/.debug
/googletest
/test_runner
/disk
/screenshots
/release
.pc
debian/koncepcja.debhelper.log
debian/koncepcja.postinst.debhelper
debian/koncepcja.postrm.debhelper
debian/koncepcja.substvars
debian/koncepcja/
debian/files
