name: Linux build

on:
  push:
    branches:
      - '**'
  pull_request:
  release:
    types: [published]

jobs:
  linux-build:
    name: Linux build
    runs-on: ubuntu-latest
    env:
      PKG_CONFIG_PATH: ${{ github.workspace }}/vendor/SDL/install/lib/pkgconfig
      LD_LIBRARY_PATH: ${{ github.workspace }}/vendor/SDL/install/lib

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: sudo apt-get update
      - run: >-
          sudo apt-get install pkg-config cmake libfreetype6-dev zlib1g-dev libpng-dev devscripts
          libgl1-mesa-dev libegl1-mesa-dev libgles2-mesa-dev
          libx11-dev libxext-dev libxrandr-dev libxcursor-dev libxfixes-dev libxi-dev libxss-dev
          libwayland-dev libxkbcommon-dev libdrm-dev libgbm-dev libdecor-0-dev

      - name: Cache vendored SDL3
        id: cache-sdl
        uses: actions/cache@v4
        with:
          path: vendor/SDL/install
          key: sdl3-linux-${{ hashFiles('vendor/SDL/**/*.c', 'vendor/SDL/**/*.h', 'vendor/SDL/CMakeLists.txt') }}

      - name: Build vendored SDL3
        if: steps.cache-sdl.outputs.cache-hit != 'true'
        run: |
          cd vendor/SDL
          cmake -B build -DCMAKE_BUILD_TYPE=Release -DSDL_SHARED=ON -DSDL_STATIC=OFF -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/vendor/SDL/install
          cmake --build build -j 3
          cmake --install build

      - run: make -j 3
      - run: make -j 3 unit_test
      - run: make -j 3 e2e_test
        env:
          SDL_VIDEODRIVER: dummy
          SDL_AUDIODRIVER: dummy

      - run: make -j 3 clean
      - run: make -j 3 debug CFLAGS="-Wno-literal-suffix -Wno-old-style-cast"
      # Disabled for now on Linux: there are too many lint errors at the moment ...
      #- run: make -j 3 clang-tidy
      # Disabled for now as this is failing for unknown reasons.
      #- run: make -j 3 deb_pkg VERSION=99.99.0 REVISION=1

      - run: make -j 3 clean
      - run: make -j 3 APP_PATH=/tmp/koncepcja DESTDIR=/tmp/koncepcja install
      - run: test/integrated/test_make_install.sh /tmp/koncepcja
        env:
          SDL_VIDEODRIVER: dummy
          SDL_AUDIODRIVER: dummy

      # Linux build updates the "latest" tag on master
      - uses: richardsimko/update-tag@v1
        if: github.ref_name == 'master'
        with:
          tag_name: latest
        env:
          GITHUB_TOKEN: ${{ secrets.LATEST_TOKEN }}

      # ---- Release-only steps below ----

      - name: Build source package
        if: github.event_name == 'release'
        run: make -j 3 distrib VERSION=${{ github.event.release.tag_name }}

      - name: Upload assets to release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release/koncepcja-linux/koncepcja-${{ github.event.release.tag_name }}.tar.bz2
            release/koncepcja-linux/koncepcja_${{ github.event.release.tag_name }}.orig.tar.bz2
          fail_on_unmatched_files: true
          token: ${{ secrets.GITHUB_TOKEN }}
