name: MacOS build

on:
  release:
    types: [published]

jobs:
  macos-build:
    name: MacOS build
    runs-on: macos-latest
    env:
      PKG_CONFIG_PATH: ${{ github.workspace }}/vendor/SDL/install/lib/pkgconfig

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v4
      - run: brew update
      - run: brew install freetype zlib libpng gnu-sed cmake

      - name: Build vendored SDL3
        run: |
          cd vendor/SDL
          cmake -B build -DCMAKE_BUILD_TYPE=Release -DSDL_SHARED=ON -DSDL_STATIC=OFF -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/vendor/SDL/install
          cmake --build build -j 3
          cmake --install build

      - run: make -j 3 ARCH=macos
      - run: make -j 3 ARCH=macos unit_test
      - run: alias sed=gsed && make -j 3 e2e_test
      - run: make -j 3 ARCH=macos macos_bundle

      - name: Publish latest
        uses: softprops/action-gh-release@v2
        if: github.event.release.tag_name == 'latest'
        with:
          name: latest
          tag_name: latest
          message: konCePCja latest
          body: Latest build of konCePCja, with the newest cool features and the most recent bugs.
          files: |
            release/koncepcja-macos-bundle/konCePCja.dmg
            release/koncepcja-macos.zip
          fail_on_unmatched_files: true
          draft: false
          prerelease: false
          make_latest: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.event.release.tag_name, 'v')
        with:
          name: ${{ github.event.release.tag_name }}
          tag_name: ${{ github.event.release.tag_name }}
          message: konCePCja ${{ github.event.release.tag_name }}
          body: konCePCja ${{ github.event.release.tag_name }}. Release notes to be added manually.
          files: |
            release/koncepcja-macos-bundle/konCePCja.dmg
            release/koncepcja-macos.zip
          fail_on_unmatched_files: true
          draft: false
          prerelease: false
          make_latest: true
          token: ${{ secrets.GITHUB_TOKEN }}
