name: Windows build

on:
  push:
    branches:
      - '**'
  pull_request:
  release:
    types: [published]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
         - { version: MINGW32, mingw: mingw32, arch: win32, env: i686,   ipf_win_file: ipflib42_w32.zip,     ipf_dll: ipflib42_w32/CAPSImg.dll, ipf_license: ipflib42_w32/LICENSE.txt, sdl_from_source: true }
         - { version: MINGW64, mingw: mingw64, arch: win64, env: x86_64, ipf_win_file: ipflib42_win_x64.zip, ipf_dll: CAPSImg_x64.dll,          ipf_license: LICENSE.txt, sdl_from_source: false }
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.version }}
          update: true
          cache: true
          install: >-
            ctags
            gcc
            git
            make
            zip
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-cmake
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-diffutils
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-freetype
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-libpng
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-pkg-config
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-toolchain
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-zlib
            ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-7zip

      - name: Install SDL3 from MSYS2
        if: ${{ !matrix.sdl_from_source }}
        shell: msys2 {0}
        run: pacman -S --noconfirm ${{matrix.mingw}}/mingw-w64-${{matrix.env}}-sdl3

      - name: Cache vendored SDL3 (win32)
        if: ${{ matrix.sdl_from_source }}
        id: cache-sdl
        uses: actions/cache@v4
        with:
          path: vendor/SDL/install
          key: sdl3-${{ matrix.arch }}-${{ hashFiles('vendor/SDL/**/*.c', 'vendor/SDL/**/*.h', 'vendor/SDL/CMakeLists.txt') }}

      - name: Build SDL3 from source
        if: ${{ matrix.sdl_from_source && steps.cache-sdl.outputs.cache-hit != 'true' }}
        shell: msys2 {0}
        run: |
          cd vendor/SDL
          cmake -B build -G "MSYS Makefiles" -DCMAKE_BUILD_TYPE=Release -DSDL_SHARED=ON -DSDL_STATIC=OFF -DSDL_OPENGLES=OFF -DCMAKE_INSTALL_PREFIX=$(pwd)/install
          cmake --build build -j 4
          cmake --install build

      # This is awful but we have to pass the mingw{32,64}/include directory so that
      # zlib.h can be found because pkg-config doesn't return any cflags for
      # zlib.
      - name: Build konCePCja
        shell: msys2 {0}
        run: |
          # SDL dummy drivers for headless e2e tests (must export explicitly for msys2)
          export SDL_VIDEODRIVER=dummy
          export SDL_AUDIODRIVER=dummy
          if [ "${{matrix.sdl_from_source}}" = "true" ]; then
            export PKG_CONFIG_PATH="$(pwd)/vendor/SDL/install/lib/pkgconfig:$PKG_CONFIG_PATH"
            export PATH="$(pwd)/vendor/SDL/install/bin:$PATH"
          fi
          make ARCH=${{matrix.arch}} CXX=g++ WINE=\"\" CFLAGS="-ID:/a/_temp/msys64/${{matrix.mingw}}/include/" debug -j 4 -k
          make ARCH=${{matrix.arch}} CXX=g++ WINE=\"\" CFLAGS="-ID:/a/_temp/msys64/${{matrix.mingw}}/include/" -j 4 clean
          make ARCH=${{matrix.arch}} CXX=g++ WINE=\"\" CFLAGS="-ID:/a/_temp/msys64/${{matrix.mingw}}/include/ -Ii686-linux-gnu-capsimage/include" -j 4 -k
          make ARCH=${{matrix.arch}} CXX=g++ WINE=\"\" CFLAGS="-ID:/a/_temp/msys64/${{matrix.mingw}}/include/ -Ii686-linux-gnu-capsimage/include" WINE=\"\" -j 4 -k unit_test
          # e2e_test skipped on Windows - video plugin tests hang even with SDL dummy driver
          ./test/integrated/test_win_package.sh ${{matrix.arch}}
          ./test/integrated/test_win_deps.sh ${{matrix.arch}}

      # ---- Release-only steps below ----

      - name: Publish latest
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release' && github.event.release.tag_name == 'latest'
        with:
          files: release/koncepcja-${{matrix.arch}}.zip
          fail_on_unmatched_files: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release' && startsWith(github.event.release.tag_name, 'v')
        with:
          files: release/koncepcja-${{matrix.arch}}.zip
          fail_on_unmatched_files: true
          token: ${{ secrets.GITHUB_TOKEN }}
